//全局样式
*{
	color: @clr-ink;
	font-size: @ftz-m;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	line-height: 2;
	font-family:
		'思源黑体CN',
		'Source Han Sans',
		AvenirNext-Regular,
		'proxima-nova',
		'Hiragino Sans GB',
		'Microsoft YaHei',
		'WenQuanYi Micro Hei',
		'Open Sans',
		'Helvetica Neue',
		Arial,sans-serif;
}
body{
	font-size: 63%;
}
::selection{
	color: #fff;
	background:#4b4b4b;
	text-shadow:none;
}
p{
	font-size: @ftz-m;
	line-height: 2;
	padding: @spc-s 0;
}
a{
	color: @clr-ink;
	text-decoration: none;
	.fx-ani-ease;
}
li{
	list-fx-position: outside;
	text-align: -webkit-match-parent;
}
code{
	font-family: monospace, menlo;
}
q{
	quotes: "「" "」";
}
b{
	font-weight: bold;
}
h1{
	font-size: @ftz-xl;
}
h2{
	font-size: @ftz-l;
}
h3{
	font-size: @ftz-m;
	font-weight: bold;
}
header{
	width: 100%;
	background: @clr-ink-drk;
	.header{
		max-width: 1240px;
		overflow: hidden;
		margin: auto;
		padding: @spc-m @spc-m;
		background: @clr-ink-drk;
	}
	a{
		color: @clr-gray-lit;
		margin-right: @spc-m;
		cursor: pointer;
		//-webkit-font-smoothing:subpixel-antialiased;
		font-family:
		'思源黑体CN',
		'Source Han Sans',
		'Hiragino Sans GB',
		'Microsoft YaHei',
		Arial,sans-serif;
		font-weight: 600;
		&:hover{
			color: @clr-paper;
		}
	}

}
.top_menu{
	float: right;
		
}
.header_arow{
		display: none;
}
.logo_font{
	float: left;
	//width: @spc-l*5;
	span{
		//margin-left: 10%;
		font-size: @spc-s*3;
		font-family: brlnsdb !important;
		color: @clr-gray-lit;
		line-height: 1;

		//padding-right: @spc-s;
		//width: @spc-l*3;
		height: auto;
		display: inline-block;
		text-align: left;
	}
}	
@font-face{
	font-family: brlnsdb;
	src:url("../font/brlnsdb.ttf") format('truetype');
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 14px;
	list-style: none;
	border-top: 1px solid #4d4d4d;
	font-size: 12px;
	background: @clr-ink-drk;
	a{color: @clr-paper;}
	.content{
		width: 100%;
		max-width: 1240px;
		margin: auto;
	}
	.icp{font-size: 12px;}
	@media (max-width: @display-w-mob) {
		.content{
				width: 100%;
				// max-width: 1240px;
				margin: auto;
				text-align: center;
				a{
					display: block;
				}
				.right, .left{
					float: none;
				}
			}
	}
}
.left{
	float: left;
}
.right{
	float: right
}
.wait{
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position:absolute;
	background: @clr-ink-drk;
	padding-top: 50px;
	p{
	line-height:1;
	color: @clr-paper;
		a{
			color: @clr-gray-lit;
			border-bottom: 1px solid  @clr-ink;
			&:hover{
				color: @clr-paper-drk;
				border-bottom: 1px solid  @clr-gray;
			}
		}
	}
}
.down_arow{
	.fx-ani-ease;
}
.up_arow{
	cursor: pointer;
	.fx-ani-ease;
	-moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media (max-width: @display-w-mob) {
    .logo_font{
		float: none;
		text-align: center;
		width: 100%;
		span{
			//margin-left: 10%;
			font-size: @spc-s*3;
			font-family: brlnsdb !important;
			color: @clr-gray-lit;
			line-height: 1;
			//padding-right: @spc-s;
			//width: @spc-l*3;
			height: auto;
			display: inline-block;
			text-align: left;
		}
	}	
	.top_menu{
		float: none;
		// width: @spc-l;
		margin: auto;
		text-align: center;
		margin-top:10px;
		// display: none;
		.fx-ani-ease;
		height: 0px;
		overflow: hidden;
		a{
			display: inline-block;
			width: 100%;
		}
		
	}
	.down_arow{
		.fx-ani-opacity;

	}
	.header_arow{
		display: block;
		text-align: center;
		
		img{
			opacity: 0.8;
			cursor:pointer;
			.fx-ani-ease;
			&:hover{
				.fx-ani-ease;
				opacity: 1;
			}
		}
	}
}
